@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic.woff2') format('woff2'),
         url('../fonts/opensans-italic.woff') format('woff'),
         url('../fonts/opensans-italic.ttf') format('truetype'),
         url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic.eot');
    src: url('../fonts/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bolditalic.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic.woff') format('woff'),
         url('../fonts/opensans-bolditalic.ttf') format('truetype'),
         url('../fonts/opensans-bolditalic.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

div.imagens img{
		width:100%;
}

div.blocos{
	margin:0 auto;
	max-width:390px;
	width:100%;

}
.blocos > div > img, .blocos > div > h4, .blocos > div > p{
	float:left;
	padding-left:5%;
}
.blocos > div > img{
	margin:0 auto;
}
.blocos > div > p{
	float:left;
	display:inline-block;
	color:#04b4ae;
	font-size:14px;
	max-width:240px;
	width:100%;
	margin:0;
}
.blocos h4{
	color:#FFF;
	max-width:210px;
	width:100%
}
div.imagem-bloco1{
	display:inline-block;
	height:149px;
	width:18%;
}
div.imagem-bloco2{
	display:inline-block;
	height:149px;
	width:29%;
}
div.imagem-bloco3{
	display:inline-block;
	height:149px;
	width:29%;
}
div.texto-bloco1{
	display:inline-block;
	height:149px;
	width:71%;
	vertical-align:top;
}
div.texto-bloco2{
	display:inline-block;
	padding-left:5%;
	height:149px;
	width:60%;
}
div.texto-bloco3{
	display:inline-block;
	padding-left:5%;
	height:149px;
	width:69%;
}
div.texto-bloco3 > p{
	max-width:250px;
	width:100%;
}
div.seta{
	display:inline-block;
	margin-bottom:12%;
	width:7%;
}
div.seta img{
	width:80%;
}
body{
	font-family:"open_sansregular", Arial;
	color:#333;
}

header{
	background:#04b4ae;
}
a{
	color:#333;
}
a:hover, a:active, a:focus {
     outline: 0;
	 color:#333;
}
h1, h2, h3, h4, h5, h6{
	font-weight:bolder;
	color:#333;
}
h2{
    border-bottom:2px solid;
	margin:0;
}
img{copy-right
	border:0;
}

input[type="email"], input[type="text"], input[type="password"], textarea, select{
    background:#eff3f7;
    border-radius: .25em;
    border:1px solid #333;
    color:#333;
    font-family: Helvetica, sans-serif;
    font-size:18px;
    padding:.75em;
	margin-bottom:1%;
    width:100%;
	color:#333;
}
input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus{
	background:#FFF;
	border:1px solid #333;
}
input[type="submit"], input[type="button"], input[type="reset"]{
	background:#04b4ae;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 4px 0px #049691;
	color: #FFF;
	font-size:1em;
	width: 180px;
	padding:12px;
	margin-bottom:5%;
	margin-right:2%;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{
	color: #FFF;
	background:#05c1bb;
	box-shadow: 0px 4px 0px #099e99;
	cursor:pointer;
}
input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active{
	color: #FFF;
	background:#05c1bb;
}
input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus{
	color: #FFF;
	background:#05c1bb;
}
textarea{
	resize:none;
}
label {
	display:block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: normal;
	font-size:18px;
	color: #333;
}
input.btn-pro{
	background:#5cb85c;	
	box-shadow: 0px 4px 0px #4c9c4c;
}
input.btn-pro:hover{
	background:#63c663;
	box-shadow: 0px 4px 0px #4ea04e;
}
input.btn-pro:active{
	color:#FFF;
	background:#63c663;
	box-shadow: 0px 4px 0px #4ea04e;
}

input.btn-ser{
	background:#0779ee;	
	box-shadow: 0px 4px 0px #065eb9;
}
input.btn-ser:hover{
	background:#3591ee;
	box-shadow: 0px 4px 0px #0e68c5;
}
input.btn-ser:active{
	background:#3591ee;
	box-shadow: 0px 4px 0px #0e68c5;
}
input.btn-verde{
	background:#3B972C;	
	box-shadow: 0px 4px 0px #327F26;
	padding:.5em;
	width:30%;
}
input.btn-verde:hover{
	background:#43AE33;
	box-shadow: 0px 4px 0px #327F26;
}
input.btn-verde:active{
	background:#43AE33;
	box-shadow: 0px 4px 0px #327F26;
}
input.btn-verde:focus{
	background:#43AE33;
	box-shadow: 0px 4px 0px #327F26;
}
input.btn-cinza{
	background:#B2B2B2;
	padding:.5em;	
	box-shadow: 0px 4px 0px #A0A0A0;
	width:30%;
}
input.btn-cinza:hover{
	background:#BEBEBE;
	box-shadow: 0px 4px 0px #A0A0A0;
}
input.btn-cinza:active{
	background:#BEBEBE;
	box-shadow: 0px 4px 0px #A0A0A0;
}
input.btn-cinza:focus{
	background:#BEBEBE;
	box-shadow: 0px 4px 0px #A0A0A0;
}

input.btn-selecionar{
	background:#ccc;
	padding:.5em;	
	box-shadow: 0px 4px 0px #C1C1C1;
}
input.btn-selecionar:hover{
	background:#dbdbdb;
	box-shadow: 0px 4px 0px #C1C1C1;
}
input.btn-selecionar:active{
	background:#dbdbdb;
	box-shadow: 0px 4px 0px #C1C1C1;
}
input.btn-selecionar:focus{
	background:#dbdbdb;
	box-shadow: 0px 4px 0px #C1C1C1;
}

input.btn-vermelho{
	background:#d2322d;/*vermelho claro*/
	box-shadow: 0px 4px 0px #ac2925;/*vermelho escuro*/
	padding:.5em;
	width:30%;
}
input.btn-vermelho:hover{
	background:#e4322d;
	box-shadow: 0px 4px 0px #ac2925;/*vermelho escuro*/
}
input.btn-vermelho:active{
	background:#e4322d;
	box-shadow: 0px 4px 0px #ac2925;/*vermelho escuro*/
}
input.btn-vermelho:focus{
	background:#e4322d;
	box-shadow: 0px 4px 0px #ac2925;/*vermelho escuro*/
}
.checkbox-pesquisa{
	padding-top:25px;
}
.padding-top-20{
	padding-top:20px;
}
.margin-bottom-20{
	padding-bottom:20px;
}
.select-pesquisa{
	padding-top:15px;
}
.input-pesquisa{
	margin-top:10px;
}
.topBar{
	background:#FFF;
	padding:5px;
}

div.topBar > div > ul.nav-pills{
	margin-top: 0;
}
::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder {
   color: #333;
}

::-moz-placeholder {
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333; 
}
.topBar .container .nav > li > a {
	color:#333;	
    position: relative;
    display: block;
    padding: 0 15px;
}
.nav > li > a:hover{
	background:none;
	text-decoration:underline;	
}
.brand{
	display:block;
	padding-bottom:3%;
	padding-top:3%;
	width:100%;
}
img.brand{width:400px;max-width:100%}

.pesquisa{
	
	padding-top:7%;
	vertical-align:bottom;
	text-align:right;
}

.desejo-item{	
	margin:0;
}
.desejo-item div{
	height:200px;
	margin-top:3%;
	padding-left:0;
    padding-right:1px;	
}
div.page-item{
	margin-top:3%;	
}
div.slide-item{
	margin-bottom:3%;
}
div.desejo-item > div > h4{
	font-size:20px;
	color:#333;	
	margin-bottom:5%;
}
div.desejo-item .produto{
	color:#5cb85c;
}
.produto h4{
	color:#5cb85c;
}
h2.desejo-item{	
	color:#5cb85c;
	font-weight:normal;
}

.desejo-item > div > select{
	background:#FFF;
	border-radius:5px 5px 5px 5px;
	border: 2px solid #F2F2F2;
	height:140px;
}

.desejo-item > div > select > option{
	
}
.desejo-item > div > ul > li{
	font-size:18px;
}
.numero1{
	width:120px;
}
.jumbotron{
	background: #121212; 
	background: -moz-linear-gradient(top, #121212 0%, #222222 50%, #121212 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(50%,#222222), color-stop(100%,#121212)); 
	background: -webkit-linear-gradient(top, #121212 0%,#222222 50%,#121212 100%);
	background: -o-linear-gradient(top, #121212 0%,#222222 50%,#121212 100%); 
	background: -ms-linear-gradient(top, #121212 0%,#222222 50%,#121212 100%); 
	background: linear-gradient(to bottom, #121212 0%,#222222 50%,#121212 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#121212',GradientType=0 );
	margin-bottom:0;
	padding:1%;
	color:#FFF;
}
.jumbotron h2{
	text-align:center;
	margin-bottom:3%;
	color:#FFF;
	border-bottom:0;
}
.jumbotron h4{
	text-align:center;
	margin-bottom:3%;
	color:#FFF;
	border-bottom:0;
}
/*
.jumbotron > .container > .row > .col-lg-4{
	margin-bottom:3%;
	margin-top:3%;
}*/
.como-funciona{
	text-align:center;
}
.numero img{
	float:left;
	max-width:90px;
}
p.passos {
	color:#04b4ae;
	font-size:16px;
	font-weight:bold;
}

.inicio{
	background-image: url(../img/bg4.png);
	vertical-align: middle;
}

.top-margin-10{
	padding:35px;
}
.nav-pills{
	margin-top:1%;
	margin-bottom:1%;
}
.nav-pills.produto a{	
	border-bottom: 2px solid #FFF;
	color: #333;
	display:block;
	padding:10px;
}
.nav-pills.produto a:hover{
	background:#FFF;
	color: #228B22;
	display:block;
	border-bottom: 2px solid #228B22;
}
.nav-pills.produto > li.active > a{
	background:#FFF;
	color: #228B22;
	border-bottom: 2px solid #228B22;
}
ul.nav .nav-tabs .produto li {
    border-bottom: 1px solid #228B22;
}
.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none outside none;
}

/*-----------------*/
.nav-pills.servicos{
	margin-bottom:2%;
}
.nav-pills.servicos a{	
	border-bottom: 2px solid #FFF;
	color: #333;
	display:block;
	padding:10px;
}
.nav-pills.servicos a:hover{
	background:#FFF;
	color: #0779ee;
	display:block;
	border-bottom: 2px solid #0779ee;
}
.nav-pills.servicos > li.active > a{
	background:#FFF;
	color: #0779ee;
	border-bottom: 2px solid #0779ee;
}



.item{
	border: 1px solid #ccc;
	box-shadow: 0 0 8px 1px #dbdbdb;
	margin-bottom:5%;
}
.item-prod:hover{
	border: 1px solid #5cb85c;
}

.item h4{
	padding-left:5%;
	padding-right:5%;
	height: 40px;
}
p.user-item{
	font-size:13px;
    font-style: italic;	
	padding-top:5%;
	padding-left:5%;
	text-align:left;	
}
div.img-item {
    text-align:center;
    margin:0 auto;
}
.img-item img{
	max-width:100%;
}
.rodape-item{
	color:#FFF;
	text-align:center;
	padding-bottom:7%;
	padding-top:2%;
}
.rodape-item p{
	margin-bottom:3%;
}
.produto{
	color: #228B22;
}
.produto h2{
    border-bottom:#228B22;
}

a.btn-pro {
	color:#FFF;
	background:#5cb85c !important;	
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 3px 0px #4c9c4c, 0px 4px 4px black;
	text-decoration:none;
	padding:3%;
}
a.btn-pro:hover{
	background:#63c663 !important;
	box-shadow: 0px 3px 0px #4ea04e, 0px 4px 4px black;
}
.rodape-prod{
	background: rgb(92,184,92); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(92,184,92,1) 0%, rgba(92,184,92,1) 55%, rgba(102,205,102,1) 55%, rgba(92,184,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(92,184,92,1)), color-stop(55%,rgba(92,184,92,1)), color-stop(55%,rgba(102,205,102,1)), color-stop(100%,rgba(92,184,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 55%,rgba(102,205,102,1) 55%,rgba(92,184,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 55%,rgba(102,205,102,1) 55%,rgba(92,184,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 55%,rgba(102,205,102,1) 55%,rgba(92,184,92,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 55%,rgba(102,205,102,1) 55%,rgba(92,184,92,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.servicos{
	color:#0779ee;
}
.item-serv:hover{
	border: 1px solid #0779ee;
}
.rodape-serv{
	background: rgb(7,121,238); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(7,121,238,1) 0%, rgba(7,121,238,1) 55%, rgba(28,141,255,1) 55%, rgba(7,121,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(7,121,238,1)), color-stop(55%,rgba(7,121,238,1)), color-stop(55%,rgba(28,141,255,1)), color-stop(100%,rgba(7,121,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(7,121,238,1) 0%,rgba(7,121,238,1) 55%,rgba(28,141,255,1) 55%,rgba(7,121,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(7,121,238,1) 0%,rgba(7,121,238,1) 55%,rgba(28,141,255,1) 55%,rgba(7,121,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(7,121,238,1) 0%,rgba(7,121,238,1) 55%,rgba(28,141,255,1) 55%,rgba(7,121,238,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(7,121,238,1) 0%,rgba(7,121,238,1) 55%,rgba(28,141,255,1) 55%,rgba(7,121,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0779ee', endColorstr='#0779ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a.btn-ser{
	color:#FFF;
    background:#1483f4;
    box-shadow: 0px 3px 0px #065eb9, 0px 4px 4px #000;
	text-decoration:none;
	padding:3%;
}
a.btn-ser:hover{
	background:#1c8dff;
}
.contador{
	background: #03ada7; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #03ada7 0%, #03ada7 63%, #04b4ae 63%, #04b4ae 63%, #04b4ae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#03ada7), color-stop(63%,#03ada7), color-stop(63%,#04b4ae), color-stop(63%,#04b4ae), color-stop(100%,#04b4ae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #03ada7 0%,#03ada7 63%,#04b4ae 63%,#04b4ae 63%,#04b4ae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #03ada7 0%,#03ada7 63%,#04b4ae 63%,#04b4ae 63%,#04b4ae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #03ada7 0%,#03ada7 63%,#04b4ae 63%,#04b4ae 63%,#04b4ae 100%); /* IE10+ */
    background: linear-gradient(45deg,  #03ada7 0%,#03ada7 63%,#04b4ae 63%,#04b4ae 63%,#04b4ae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ada7', endColorstr='#04b4ae',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: solid 1px #E8E8E8;
	color:#FFF;
    font-size:20px;
    box-shadow: 0 0 8px 1px #dbdbdb; 
	margin-bottom:5%;
	padding-bottom:3%;
    padding-top:4%;
    text-align: center;
}
p.num-cont{
	font-size:50px;
}
footer h3{
	color:#FFF;
	margin-top:5px;
	margin-bottom: 10px;
}

footer .col-lg-4 p{
	font-size:14px;
	color:#04b4ae;
}
.copy-right{
	background:#04b4ae;
	color:#FFF;
	margin:0 auto;
	text-align:center;
}
.copy-right img{
	padding-top:1%;
}


/*página de login*/
.breadcrumb{
	background:#FFF;
	margin-bottom:0;
	padding: 8px 0px;
}
.breadcrumb a{
	color:#333;
}
.informacao{
	background:#eff3f7;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}
.informacao h2{
	color:#333;
	font-weight:normal;
	border-bottom:0;
	margin:1% auto;
	text-align:center;
	width:80%;
}
.panel{
	margin:0 auto;
}
.pesquisa-avancada{
	color:#FFF;
	font-weight:bold;
}
.paineis{
	box-shadow: 0 0 8px 1px #dbdbdb;
}

.paineis h3{
	color:#FFF;
}
.panel-default.paineis{
	margin-bottom:3%;
	margin-top:3%;	
}
.login{
	max-width:454px;
}
.cadastro{
	margin-bottom:2%;
	margin-top:2%;
}
.panel-default>.panel-heading.paineis{
	color: #FFF;
	border-color: #ddd;
	background:#04b4ae;
}
.inputs input.btn{
	display:block;
	margin-bottom:2%;
	margin-top:1%;
}
.container-item{
	margin-bottom:2%;
	margin-top:2%;
}

.tab-item{
	border-bottom:1px solid #228B22;
	border-left:1px solid #228B22;
	border-right:1px solid #228B22;
	color:#333;
}
.nav-tabs>li>a{
	color:#FFF;
	background:#04b4ae;
}
.nav-tabs>li>a:hover{
	color:#333;
	background:#E7E7E7;
}
.list{
	list-style:none;
	padding:3%;
}
.minha-conta{
	margin-bottom:3%;
	margin-top:3%;
}
ul.caracter li{
	margin-bottom:3%;
}
input.iptTxt{
	color:#333;
	font-size:14px;
	text-align:left;
	padding:10px;	
}
textarea.iptTxtA{
	font-size:14px;
	padding:10px;	
	text-align:left;
}
select.iptSel{
	font-size:14px;
	padding:10px;	
	text-align:left;
}

.minha-conta > div{
	vertical-align:top;
}
/*.minha-conta h2{
	color:#5cb85c;
	border-bottom:2px solid #5cb85c;
	font-size:30px;
	font-weight:normal;
	margin-top:0;
}*/
ul.menu-conta{
	list-style:none;
}
ul.menu-conta img{
	margin-bottom:5%;
	max-width:100%;
	width:250px;
}
.menu-conta a{
	border-left:2px solid #FFF;
	color: #333;
	display:block;
	padding:10px;
	margin-bottom:1%;
	text-decoration:none;
}
.menu-conta a:hover{
	background-color: #F2F2F2;
	border-left: 2px solid #333;
}
.menu-conta > li.active > a{
	background-color: #F2F2F2;
	border-left: 2px solid #333;
}
ul.em-linha{
	list-style:none;
	line-height:35px;
	padding-right:5%;
	display:inline-block;
	vertical-align:top;
}
div.meus-desejos{
	border: solid 1px #333;
	box-shadow: 0 2px 2px 0 #dbdbdb;
	margin-bottom:5%;
}
div.meus-desejos img{
	margin-bottom:5%;
	max-width:100%;
	width:250px;
}
.minhas-ofertas{
	color:#333;
}
.minhas-ofertas img{
	margin-top:7%;
	max-width:100%;
	width:250px;
}
div.meus-desejos p{
	padding:5px;
}
.meus-desejos > div{
	background:#5cb85c;
}
.meus-desejos > div > a{
	border-top: 1px solid #FFF;
	color:#FFF;
	display:block;
	padding:5px;
	text-decoration:none;
}
.meus-desejos > div > a:hover{
	background-color: #F2F2F2;
	color:#333;;
}
div.resultados{
	margin-bottom:2%;
}
h2.resultados{
	color:#5cb85c;
	font-weight:normal;
}
div.filtro{
	margin-bottom:3%;
	
}
.setenta{
	width:70%;
}
ul.list-horizontal{
	list-style:none;
	padding:0;	
}
.list-horizontal li{
	padding-right:3%;	
	display:inline-block;
}



@media screen and (max-width:991px){
	img.brand{
		margin:0 auto;
		text-align:center;
	}
	.pesquisa{
	
	padding-top: 1%;
	}
	div.meus-desejos{
		display:inline-block;		
	}
	div.col-md-3.colunas-desejos{
		display:inline-block;
		width:49%;
	}
	div.seta{
		display:none;
	}
}

@media screen and (max-width:768px){
	img.brand{
		margin:0 auto;
		text-align:center;
	}
	.pesquisa{
	
	padding-top: 1%;
	}
	div.meus-desejos{
		display:inline-block;		
	}
	div.col-md-3.colunas-desejos{
		display:inline-block;
		width:49%;
	}
	div.seta{
		display:none;
	}
}

@media screen and (max-width:640px){
	
	div.seta{
		display:none;
	}
	p.passos{
		font-size:13px;
		text-align:left;
	}
	 h4.passos{
		text-align:left;
	}
}
	
@media screen and (max-width:480px){
	img.brand{
		margin:0 auto;
		text-align:center;
	}	
	
	.numero img{
		margin:0 auto;
		display:block;
		float:none;
	}
	
	p.passos{
		font-size:13px;
		text-align:center;
	}
	h4.passos {
		text-align:center;
	}
	div.seta{
		display:none;
	}
	.nav-pills li{
		font-size:11px;
	}
	div.content.informacao > div > h2{
		font-size:20px;
	}
	input.btn-verde{
		width:40%;
	}	
	input.btn-vermelho{
		width:40%;
	}
	input.btn-cinza{
		width:40%;
	}
	.nav>li>a {
		padding: 5px 10px;
	}		
		
	ul.list.caracter input.btn-cinza{
		display:block;
	}
	div.meus-desejos{
		display:block;		
	}
	div.col-md-3.colunas-desejos{
		display:block;
		width:100%;
	}
	div.slide-item{
	margin-bottom:7%;
	}
	/******--------------------*******/
	div.blocos{
		margin-bottom:10%;
	}
	div.imagem-bloco1{
		width:35%;
	}
	
	div.imagem-bloco1 img{				
		margin-left:19%;		
	}
	div.texto-bloco1{
	width:58%;
	}
	div.texto-bloco2{
	padding-left:7%;
	}
	div.texto-bloco3{
	padding-left:7%;
	}
	.blocos > div > p{
	font-size:12px;
	}
}

/*
@media (max-width: 480px) and (orientation: landscape) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (max-width: 767px) {}
@media screen and (min-width: 768px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
*/